<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wtrue.rical.usercenter.dao.mapper.user.UserBaseMapper">
  <resultMap id="BaseResultMap" type="com.wtrue.rical.usercenter.domain.po.user.UserBase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="BASE_USER_ID" jdbcType="BIGINT" property="baseUserId" />
    <result column="BASE_USER_NAME" jdbcType="VARCHAR" property="baseUserName" />
    <result column="SEX" jdbcType="TINYINT" property="sex" />
    <result column="ID_TYPE" jdbcType="TINYINT" property="idType" />
    <result column="ID_NUM" jdbcType="VARCHAR" property="idNum" />
    <result column="DELETED" jdbcType="TINYINT" property="deleted" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>